#headdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 20%;
    border-bottom: 5px solid #ffd72f;
}
.hd{
        display: flex;
        justify-content: center;
    height: 100%;
    width: 33%;

}
h2{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 190%;
    padding-top:15%
}
#litem{
    justify-content:left;
}
#ritem{
    justify-content: right;
}