*{
    row-gap:2%;
}
#maindiv{
    height: 78%;
    width: 100%;
    background-color: #0a4b2c;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0;
}
h1{
    font-size: 800%;
      font-family: "DM Serif Text", serif;
      font-weight: 500;
    margin: 0;
    text-shadow:
    0 0 1px #ffd72f,
    0 0 5px #ffd72f,
    0 0 40px #ffd72f;
}
h3{
   font-size: 200%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size: 120%;
    padding-bottom: 2%;
    color: #ffffff;
}
#nextp1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 10%;
    border-radius: 30px;
    border-width: 0;
    background-color: #8d2323;
    color: #ffd72f;
    font-size: 300%;
}